{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tag" data-toggle="tooltip" title="保存" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="取消" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>{% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tag" class="form-horizontal">
          <input type="hidden" name="product_type_id" value="{{ product_type_id }}"/>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">字段名称</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" maxlength="64"/>
              {% if error_name %}<div class="text-danger">{{ error_name }}</div>{% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-display-label">显示标签</label>
            <div class="col-sm-10">
              <input type="text" name="display_label" value="{{ display_label }}" id="input-display-label" class="form-control" maxlength="128"/>
              <div class="help-block">用户可见的标签文字,留空则使用字段名称</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-parent">父字段</label>
            <div class="col-sm-10">
              <select name="parent_id" id="input-parent" class="form-control">
                <option value="0">-- 顶级字段 --</option>
                {% for opt in parent_options %}
                <option value="{{ opt.tag_id }}" {{ parent_id == opt.tag_id ? 'selected' }}>{{ opt.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block">调整层级关系(也可在列表页拖拽排序)。不能设为自身或自身的子字段。</div>
              {% if error_parent %}<div class="text-danger">{{ error_parent }}</div>{% endif %}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-tag-type">类型</label>
            <div class="col-sm-10">
              <select name="tag_type" id="input-tag-type" class="form-control">
                <option value="text"     {{ tag_type == 'text'     ? 'selected' }}>文本</option>
                <option value="textarea" {{ tag_type == 'textarea' ? 'selected' }}>多行文本</option>
                <option value="number"   {{ tag_type == 'number'   ? 'selected' }}>数字</option>
                <option value="date"     {{ tag_type == 'date'     ? 'selected' }}>日期</option>
                <option value="image"    {{ tag_type == 'image'    ? 'selected' }}>图片</option>
                <option value="select"   {{ tag_type == 'select'   ? 'selected' }}>下拉选择</option>
                <option value="radio"    {{ tag_type == 'radio'    ? 'selected' }}>单选</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">是否必填</label>
            <div class="col-sm-10">
              <label class="checkbox-inline"><input type="checkbox" name="is_required" value="1" {{ is_required == 1 ? 'checked' }}/> 启用必填校验</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
              <label class="checkbox-inline"><input type="checkbox" name="status" value="1" {{ status == 1 ? 'checked' }}/> 启用(取消则前台不显示该字段)</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">列表显示</label>
            <div class="col-sm-10">
              <label class="checkbox-inline"><input type="checkbox" name="show_in_list" value="1" {{ show_in_list == 1 ? 'checked' }}/> 在商品列表表格中显示该字段列</label>
            </div>
          </div>

          {% if system_column %}
          <div class="form-group">
            <label class="col-sm-2 control-label">系统信息</label>
            <div class="col-sm-10">
              <p class="form-control-static" style="font-size:12px;color:#999;">
                {% if field_type %}字段类型:{{ field_type }}{% endif %}
                {% if system_column %} | 系统列:{{ system_column }}{% endif %}
                <span class="help-block" style="margin-top:4px;">系统管理字段,不可在此修改。</span>
              </p>
            </div>
          </div>
          {% endif %}

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
